<!-- <main class="container d-flex justify-content-center"> -->
  <main class="container d-flex">
    <div>      
      <div class = "labelBanner">        
        <p><%= ('Desc_KeyboardShortcuts') %></p>
        <div><%= ('ActiveLabel') %></div>
        <p id="activeLabel"><%= ('None') %></p>
        <div><%= ('Desc_HotKeys') %></div>
      </div>
      <div class = "hotKeyBox" id = "hotKeyBox">
        <p><%= ('ShortcutKeys') %></p>        
      </div>      
      <div class="toggle-switch">
        <input type="checkbox" id="toggle-switch" checked>
        <label for="toggle-switch"><%= ('ShowLabels') %></label>
      </div>
   
  </div>
    <div id="annotationOuterWrapper">    
      <div id="annotationInnerWrapper">
        <div class="simpleBoxesImageAndCanvasWrapper">
        <img id="imageToAnnotate" src="/uploads/<%=imageData.id %>" />
        </div>
      </div>
    </div>
  
  
  </main>
  