<main class="container">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="">
    <p class="h1 mt-5 mb-4"><i class="bi-emoji-frown"></i></p>
  </div>
  <div class="mt-6 text-center">
    <p class="h1" style="padding-top: 50px;">500 <%= ('Error') %></p>
    <p class="h4"><%= ('Error_500') %></p>
    <p>
      <%= ('Stack Trace') %> 
      <a href="https://community.wildme.org" target="_blank"
        ><%= ('WMCommunity') %></a
      >.
    </p>
  </div>
  <div>
    <div class="mt-4">
      <div class="alert alert-secondary">
<pre class="text-danger m-0" style="text-align: left; min-height: 400px;">
<%=stackTrace%>
</pre>
      </div>
    </div>
  </div>
</main>
