<!-- Change the class from "sbsWrapper" to "container" to keep the image size the same as other pages -->
<div class="container d-flex justify-content-center">

  <div>
    <div class = "labelBanner">        
      <p>Use keyboard shortcuts to switch to the desired label.</p>
      <div>Current active label is: </div>
      <div class="unset-active-hotkey-switch form-check form-switch">
        <input class="form-check-input" type="checkbox" id="unset-active-hotkey-switch" >
        <label class = "form-check-label" id="activeLabel" for="unset-active-hotkey-switch">None</label>
      </div>
      <div>Please press hot keys to set or change.</div>
    </div>
    <div class = "hotKeyBox" id = "hotKeyBox">
      <p>Shortcut Keys</p>        
    </div>
    <div>
      <p>
        <small>
          Date: <%=imageData.imageDate%><br>
          Latitude: <% if(imageData.hasGpsLocation){ %><%=imageData.gpsLatitude%><% }else{ %>unavailable<% } %><br>
          Longitude: <% if(imageData.hasGpsLocation){ %><%=imageData.gpsLongitude%><% }else{ %>unavailable<% } %>
        </small>
      </p>
    </div>
    <div class="toggle-switch">
      <input type="checkbox" id="toggle-switch" checked>
      <label for="toggle-switch">Show Labels</label>
    </div>

</div>

  <div class="sbsRow">

    <div   id="gtColumnLeft" style="width: 100%; float: clear; text-align: center;">      
      <div id="scrollBoxLeft" class="groundTruthInnerWrapper">
        <div class="simpleBoxesImageAndCanvasWrapper">
          <div class="gridOverlay"></div> 
          <img class = "imageToGroundTruth" id="imageToGroundTruth" src="/uploads/<%=imageData.id %>"/>
        </div>
      </div>
    </div>

    <div  id="gtColumnRight" style="width: 49.8%; float: right; text-align: left;">      
      <div id="scrollBoxRight" class="groundTruthInnerWrapperReadOnly">
        <div class="simpleBoxesImageAndCanvasWrapper">
          <div class="gridOverlay"></div> 
        <img class = "imageToGroundTruth" id="imageComparison" src="/uploads/<%=imageData.id %>/?right=true">
        </div>
      </div>
    </div>

    <div style="float: clear">&nbsp;</div>

  </div>



</div>
