<main class="container">

  <div id="taskOuter">
	<div class="row" id="meta">
		<div class="col-2">
			<p><b>Task Name:</b></p>
			<p><b>Side:</b></p>
			<p><b>Sequence:</b></p>
			<p><b>Assignee:</b></p>
		</div>
		<div class="col-4">
			<p><%=taskData.displayName%></p>
			<p><%=taskData.orientation%></p>
			<p><%=(taskData.randomized == false ? 'Sequential' : 'Randomized')%></p>
			<p><%=taskData.assigneeDiplayName%></p>
		</div>
		<div class="col-2">
			<p><b>Date Created:</b></p>
			<p><b>Annotate %:</b></p>
			<p><b>Ground Truth %:</b></p>
			<p><b>Div Line %:</b></p>
		</div>
		<div class="col-4">
			<p><%=new Date(taskData.createdAt).toISOString().split('T')[0]%></p>
			<p><%=Math.floor(taskData.progressAnnotation * 100)%></p>
			<p><%=Math.floor(taskData.progressGroundTruth * 100)%></p>
			<p><%=Math.floor(taskData.progressLineDivision * 100)%></p>
		</div>
	</div>

	<div class="row">
		<div class="col-8"></div>
		<div class="col-2">
            <button class="btn btn-secondary btn-sm ms-5" type="button" id="imagesPreviewSelectAll">
              Select All
            </button>
		</div>
		<div class="col-2">
            <button class="btn btn-secondary btn-sm ms-5" type="button" id="imagesPreviewDelete" disabled>
              Delete Images
            </button>
		</div>
	</div>

	<div id="imagesPreviewGallery">
           <% for (const image of images) { %>
		<div id="image-preview-<%=image.id%>" class="d-inline-block imagePreviewWrapper">
			<input type="checkbox" />
			<img class="img-thumbnail" src="/uploads/<%=image.id%>" />
		</div>
            <% } %>
	</div>

  </div>


</main>
