<main class="container">

  <div id="taskOuter" class="mt-5">
	<div class="row" id="meta">
		<div class="col-2">
			<p><b>Task Name:</b></p>
			<p><b>Side:</b></p>
			<p><b>Sequence:</b></p>
			<p><b>Assignee:</b></p>
		</div>
		<div class="col-4">
			<p><%=taskData.displayName%></p>
			<p><%=taskData.orientation%></p>
			<p><%=(taskData.randomized == false ? 'Sequential' : 'Randomized')%></p>
			<p><%=taskData.assigneeDiplayName%></p>
		</div>
		<div class="col-2">
			<p><b>Date Created:</b></p>
			<p><b>Annotate %:</b></p>
			<p><b>Ground Truth %:</b></p>
			<p><b>Div Line %:</b></p>
		</div>
		<div class="col-4">
			<p><%=new Date(taskData.createdAt).toISOString().split('T')[0]%></p>
			<p><%=Math.floor(taskData.progressAnnotation * 100)%></p>
			<p><%=Math.floor(taskData.progressGroundTruth * 100)%></p>
			<p><%=Math.floor(taskData.progressLineDivision * 100)%></p>
		</div>
	</div>

	<div class="row">
		<div class="col-2">
			<p><b>Sort by:</b></p>
		</div>
		<div class="col-3">
			<select onChange="window.location = window.location.pathname + '?sortby=' + this.value;" class="form-select form-select-sm form-control" id="sortby" aria-label="select">
				<option <%=(sortBy=='originalFilenameLower'?'selected':'')%> value="originalFilenameLower">File name</option>
				<option <%=(sortBy=='exifTimestamp'?'selected':'')%> value="exifTimestamp">Image time/date</option>
				<option <%=(sortBy=='createdAt'?'selected':'')%> value="createdAt">Time created</option>
			</select>
		</div>
		<div class="col-1"></div>
		<div class="col-2">
            <button class="btn btn-secondary btn-sm ms-5" type="button" id="imagesPreviewSelectAll">
              Select All
            </button>
		</div>
		<div class="col-2">
            <button class="btn btn-secondary btn-sm ms-5" type="button" id="imagesPreviewDelete" disabled>
              Remove from Task
            </button>
		</div>
	</div>

	<div id="imagesPreviewGallery">
           <% for (const image of images) { %>
		<div id="image-preview-<%=image.id%>" class="d-inline-block imagePreviewWrapper">
			<input type="checkbox" />
			<img class="img-thumbnail" src="/uploads/<%=image.id%>" />
		</div>
            <% } %>
	</div>


    <div class="modal fade modal-lg" id="imagePreviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Image Preview</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
		<img style="width: 100%;" />
		<div style="text-align: center; padding-top: 10px;">
		    <button onClick="imagePreviewModalSelect()" class="btn btn-secondary btn-sm ms-5" type="button">Select</button>
		    <button onClick="imagePreviewModalDelete()" class="btn btn-secondary btn-sm ms-5" type="button">Remove</button>
		</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
