<main class="container">
     <div class="mt-5">
       <form data-form-method="PUT" class="d-flex flex-column flex-wrap align-items-center justify-content-center handleable" action="/api/users" data-onSuccessType="redirect" data-onSuccessValue="/users?success=edited">
         <h1 class="h3 mb-3 fw-normal"><%= __('EditUser') %></h1>
         <input type="hidden" id="id" name="id" value="<%= userData.id %>">
         <div>
           <div class="form-floating mb-1">
             <input
               type="text"
               class="form-control"
               id="floatingInput"
               value="<%= userData.displayUsername %>"
               placeholder="name@example.com"
               disabled
             />
             <label for="floatingInput"><%= __('Username') %></label>
           </div>
           <div class="form-floating mb-1">
             <input
               type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Password"
               required
             />
             <label for="floatingPassword"><%= __('NewPassword') %></label>
           </div>
           <div class="form-floating mb-1">
             <input
               type="password"
               class="form-control"
               id="passwordConfirm"
               name="passwordConfirm"
               placeholder="Password"
               required
             />
             <label for="floatingPassword"><%= __('ConfirmNewPassword') %></label>
           </div>
           <div class="form-floating mb-1">
             <select class="form-select form-control" id="role" name="role" disabled>
               <option <% if(userData.role == 'user') { %>selected<% } %> value="annotator"><%= __('Role_User') %></option>
               <option <% if(userData.role == 'admin') { %>selected<% } %> value="labLead"><%= __('Role_Admin') %></option>
             </select>
             <label for="role"><%= __('Role') %></label>
           </div>
           <p class="mt-4"><%= __('Desc_AdminPasswordNewUser') %></p>
           <div class="form-floating">
             <input
               type="password"
               class="form-control"
               id="adminPassword"
               name="adminPassword"
               placeholder="Password"
               required
             />
             <label for="adminPassword"><%= __('YourPassword') %></label>
           </div>
         </div>
         <button
           class="btn btn-lg btn-primary mt-3"
           type="submit"><%= __('Submit') %></button>

       </form>
     </div>
   </main>
